In [37]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
# Cleaning the data

In [20]:
# Display the total number of players
players_df = purchase_data_df.groupby("SN")["SN"].unique()
players_df.count()

576

In [38]:
# Run basic calculations to obtain number of unique items
unique_items_df = purchase_data_df.groupby("Item Name")["Item Name"].unique()
unique_items_df.count()

179

In [39]:
# Run basic calculations to obtain average price
average_price_df = purchase_data_df["Price"].mean
average_price_df()

3.050987179487176

In [40]:
# Run basic calculations to obtain number of purchases
purchases_df = purchase_data_df["Purchase ID"].count
purchases_df()

780

In [41]:
# Run basic calculations to obtain total revenue
total_revenue_df = purchase_data_df["Price"].sum
total_revenue_df()

2379.77

In [65]:
# Gender Demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

gender_demographics_df = pd.DataFrame(purchase_data_df["Gender"].value_counts())
gender_demographics_df

percentage_of_players = (purchase_data_df["Gender"].value_counts()/total_players)*100
percentage_of_players

gender_demo_df["Percentage of Players"] = percentage_of_players
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2f}%".format)
gender_demo_df

org_gender_demo_df = gender_demo_df[["Percentage of Players", "Gender"]]
org_gender_demo_df

fin_gender_demo_df = org_gender_demo_df.rename(columns={"Gender":"Total Count"})
fin_gender_demo_df

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15

In [88]:
# Age Demographics
    # Establish bins for ages
bins = [0,10,15,20,25,30,35,40,45]
bins_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39",">=40"]
    
    # Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels = bins_labels)
purchase_data_df.head()

    # Calculate the numbers and percentages by age group

    
    # Create a summary data frame to hold the results
    # Optional: round the percentage column to two decimal points
    # Display Age Demographics Table

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24