In [16]:
# Dependencies and Setup
import pandas as pd

In [17]:
# File to load 1
csv_path = "Resources/schools_complete.csv"
school_df = pd.read_csv(csv_path)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [18]:
# File to Load 2
csv_student_path = "Resources/students_complete.csv"
students_df = pd.read_csv(csv_student_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [24]:
# Combine the data into a single dataset. 
school_data_complete_df = pd.merge(school_df, students_df, on="school_name", how="left")
school_data_complete_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [26]:
school_data_complete_df["budget"].sum()

82932329558

In [32]:
# Calculate the total number of schools
unique_school_name = school_data_complete_df["school_name"].unique()
total_schools = len(unique_school_name)
total_schools

15

In [33]:
# Calculate the total number of students
total_student_number = school_data_complete_df["student_name"].count()
total_student_number

39170

In [34]:
# Calculate the total budget
total_budget = school_data_complete_df["budget"].sum()
total_budget

82932329558

In [35]:
# Calculate the average math score 
ave_math_score = school_data_complete_df["math_score"].mean()
ave_math_score

78.98537145774827

In [36]:
# Calculate the average reading score
ave_read_score = school_data_complete_df["reading_score"].mean()
ave_read_score

81.87784018381414

In [37]:
# Calculate the percentage of students with a passing math score (70 or greater)

std_pass_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
std_pass_math = std_pass_math["Student ID"].count()
percent_pass_math = (std_pass_math / total_student_number) * 100
percent_pass_math

74.9808526933878

In [38]:
# Calculate the percentage of students with a passing reading score (70 or greater)
std_pass_read = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
std_pass_read = std_pass_read["Student ID"].count()
percent_pass_read = (std_pass_read / total_student_number) * 100
percent_pass_read

85.80546336482001

In [39]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = ((percent_pass_read + percent_pass_math)+(percent_pass_read * percent_pass_math))/100
overall_pass

65.9455312490366

In [43]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    "Total Schools": total_schools,
    "Total Students": f"{total_student_number:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{ave_math_score:.6f}",
    "Average Reading Score": f"{ave_read_score:.5f}",
    "% Passing Math": f"{percent_pass_math:.6f}",
    "% Passing Reading": f"{percent_pass_read:.6f}",
    "% Overall Passing": f"{overall_pass: .6f}"
}, index=[0])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.945531

In [ ]:
# Optional: give the displayed data cleaner formatting